{% extends 'base/base.html' %}

{% block title %}Index{% endblock title %}

{% block content %}

    <h2>True Home Test App</h2>

    <table class="table">
        <thead class="table table-dark">
            <th>URL</th>
            <th>Description</th>
        </thead>
        <tr>
            <th> api-docs/ </th>
            <th>API Documentation</th>
        </tr>
        <tr>
            <th>v2/</th>
            <th>List Activities</th>
        </tr>
        <tr>
            <th>v3/</th>
            <th>generics APIVIew</th>
        </tr>
        <tr>
            <th>v4/</th>
            <th>generics APIView compressed</th>
        </tr>
        <tr>
            <th>v5/</th>
            <th>generics ViewSets</th>
        </tr>
    </table>

{% endblock content %}